* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  width: 60%;
  font-size: 4vh;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.accordion-container {
  border: solid yellowgreen 1.5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #0066CC;
}

.section-container > input {
  display: none;
}

.section-container {
  border-top: solid rgb(223, 223, 223) 1px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.section-label > .section-header {
  border: solid red 1px;
  font-size: 2.5vh;
  font-weight: 800;
  display: grid;
  grid-template-columns: 27fr 1fr;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}

.section-header > span {
  border: dotted green;
}

.plus-svg {
  height: 1.5rem;
  width: 1.5rem;
}

.meme-container > img {
  width: 50%;
  height: 37vh;
  margin-left: auto;
  margin-right: auto;
  border: solid blue;
  display: none;
}

.accordion-container:hover .section-label {
  cursor: pointer;
  color: black;
}

.section-container:hover .meme-container > img {
  display: block;
  background-color: rgb(155, 147, 78);
}

.section-container > input:checked ~ .section-label > .meme-container > img {
  display: block;
}

.section-container > input:checked ~ .section-label {
  color: black;
}
