* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.title {
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.accordion-container {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  color: #0066CC;
}

.section-container > input {
  display: none;
}

.section-container {
  border-top: solid rgb(223, 223, 223);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.section-label > .section-header {
  font-size: 1.5rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1.5rem;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}

/* .section-header > .meme-name-container {
  border: dotted green;
} */

.icon-container {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url(icons/plus-outline.svg);
  opacity: 0;
}

.meme-img-container > img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  /* border: solid blue; */
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: width 1s;
}

.meme-img-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s; /* Плавная анимация открытия/скрытия картинки мема */
}

/* Изменение курсора и цвета текста при наведении на аккордион */
.accordion-container:hover .section-label,
.accordion-container:hover {
  cursor: pointer;
  color: black;
}

/* Плавное появление иконок при наведении на аккордеон */
.accordion-container:hover .section-label > .section-header > span.icon-container {
  opacity: 100%;
  transition: all 0.5s;
}

/* Плавное открытие картинки при наведении на секцию мема */
/* Отображение картинки мема при выборе секции мема */
.section-container:hover .meme-img-container,
.section-container > input:checked ~ .section-label > .meme-img-container {
  max-height: 100vh;
}

/* Плавное увеличение картинки при открытии секции */
.section-container:hover .meme-img-container > img,
.section-container > input:checked ~ .section-label > .meme-img-container > img {
  width: 60%;
}

.section-container > input:checked ~ .section-label {
  color: black;
}

/* Изменение иконки (поворот) при выборе мема или наведени на секцию */
.section-container > input:checked ~ .section-label .icon-container,
.section-container:hover .icon-container {
  transform: rotate(45deg);
}

@media screen {

}