* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  width: 60%;
  font-size: 4vh;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

li {
  border-top: solid rgb(223, 223, 223) 1px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

li:hover img {
  display: block;
  background-color: lemonchiffon;
}

.section-title {
  list-style: none;
  font-size: 2.5vh;
  font-weight: 800;
}


#accordion-container {
  border: solid yellowgreen 1px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

img {
  width: 50%;
  height: 37vh;
  margin-left: auto;
  margin-right: auto;
  border: solid blue;
  display: none;
}

li:first-child img {
  display: block;
}
